@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.accordion-body {
    background-color: rgb(242, 249, 253);
}

.navbar {
    background: linear-gradient(45deg, #7048e8,#4c6ef5);
}

.btn-primary {
    background: linear-gradient(45deg, #7048e8,#5c7cfa);
    background-size: 100% 100%;
    color: white;
    width: 6rem;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.btn-primary:hover {
    background: #7048e8;
}

.btn-admin {
    width: 10rem;
}

.btn-login {
  width: 10rem !important;
}

 .form-check-input {
    background-color: #fff;
    border: 3px solid #7048e8;
    box-shadow: none;
    outline: none;
  }

  .form-check-input:checked {
    background-color: #7048e8;
    border: 3px solid #7048e8;
    box-shadow: none;
    outline: none;
  } 

  .form-check-input:focus {
    box-shadow: none;
    outline: none;
  }

  body {
    background-color: #edf2ff;
  } 

  .progress {
    background-color: #dbe4ff;
  }

  .progress-bar {
    background: linear-gradient(45deg, #7048e8,#5c7cfa);
  }


 .btn-outline-primary {
    border-width: 2px;    
    border-color: #7048e8;
    color: #7048e8;
  }

   .btn-outline-primary:hover {
    background-color: #7048e8 !important;
    color: white !important;             
    border-color: #7048e8 !important;
  } 

  /*
.btn-outline-primary:active {
  background-color: #7048e8 !important;
  color: white !important;             
  border-color: #7048e8 !important;
  }*/
  

  /* .btn-outline-primary {
    border-width: 2px;
    border-color: #7048e8 !important;
    color: #7048e8 !important;
    background-color: transparent !important;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-primary:hover {
    background-color: #7048e8 !important;
    color: white !important;
    border-color: #7048e8 !important;
  }
  
  .btn-outline-primary:active {
    background-color: #7048e8 !important;
    color: #7048e8 !important;
    border-color: #7048e8 !important;
  }
   */